* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.header-area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.header-area-logo a {
    text-decoration: none;
}

.header-area-logo {
    padding: 20px 0px;
}

.header-area-logo img {
    width: 103px;
    height: 20px;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    padding: 9px 19px;
    margin: 10px 5px;
}


nav ul a:hover {
    color: white;
    background: black;
    transition-duration:1s;
}

.main-section {
    width: 100%;
}

.main-section-left {
    width: 40%;
    height: 422px;
    float: left;
}

.main-section-left img {
    width: 430px;
    height: 520px;
}

.main-section-right {
    width: 60%;
    height: 422px;
    float: left;
}

.main-section-right-content h3 {
    padding-top: 145px;
    font-size: 55px;
    color: #333333;
    /* font-family: 'Bitter', serif; */
    font-family: 'Poppins', sans-serif;
    padding-bottom: 25px;
}

.main-section-right-content hr {
    width: 60px;
    height: 4px;
    border: none;
    background: black;
    margin-bottom: 25px;
}

.main-section-right-content p {
    font-size: 25px;
    color: #7d7789;
}

.main-section-right-content p span {
    color: #333;
}

.main-section-btn a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #333;
    padding: 13px 38px;
    border: 2px solid #333;
    font-family: poppins;
    font-weight: 500;
    margin: 25px 0;
    transition: all .3s ease;
}

.main-section-btn a:hover {
    color: black;
    border: 3px solid black;
    background: white;
    cursor: pointer;
}

#about {
    margin-top: 10%;
    float: left;
    width: 100%;
    height: 20px;
}

.about-title {
    display: flex;
}

.about-title-left {
    width: 15%;
    float: left;
}

.about-title-left span {
    letter-spacing: 7px;
}

.about-title-right {
    width: 85%;
    float: left;
    padding-top: 10px;
    color: black;
    border: none;
}

/* about-content */

#about-content {
    width: 100%;
    display: flex;
    height: 200px;
    padding-bottom: 19;
}

.about-content-left {
    width: 50%;
    height: 200px;
}

.about-content-left p {
    width: 80%;
    padding-top: 25px;
    color: #8C8798;
    font-size: 18px;
}

.about-content-right {
    width: 50%;
    height: 200px;
}

.about-content-right ul {
    list-style-type: none;
}

.about-content-right ul li {
    margin: 0 0 8px;
    float: left;
}

.about-content-right ul li span {
    float: left;
}

.about-content-right-left {
    width: 30%;
    height: 200px;
    float: left;
}

.about-content-right-left p {
    padding-top: 15px;
    font-weight: 700;
}

.about-content-right-right {
    width: 70%;
    height: 200px;
    float: left;
}

.about-content-right-right p {
    padding-top: 15px;
    color: #8C8798;
}

/* services-section */

.services-section {
    width: 100%;
    float: left;
}

.services-section-left {
    width: 50%;
    height: 360px;
    float: left;
}

.services-section-right {
    width: 50%;
    height: 360px;
    float: left;
}




/* -----Same coad Copy-------- */

#services {
    margin-top: 10%;
    float: left;
    width: 100%;
    height: 60px;
}

.services-title {
    display: flex;
    width: 100%;
    margin-bottom: 4%;
}

.services-title-left {
    width: 35%;
    float: left;
}

.services-title-left span {
    letter-spacing: 7px;
    font-size: 20px;
    font-weight: bold;
}

.services-title-right {
    width: 54%;
    float: left;
    padding-top: 12px;
    color: black;
    border: none;
}

/* ------------------------ */


.services-section-left-buttom ul {
    list-style-type: none;
}

.services-section-left-buttom ul li i {
    padding-right: 15px;
    padding-top: 20px;
}



/* Line Progress Bar */

.progress{
    width: 100%;
    display: flex;
}
.progress-left{
    width: 50%;
    height: 200px;
}
.progress-right{
    width: 50%;
    height: 200px;
}


.progress-left-content{
    /*! display: grid; */
    height: 100%;
    place-items: center;
}

.skills-bar{
    width: 180%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    margin-top: 20px;
}

.skills-bar .bar{
    margin: 20px 0;
}
.skills-bar .bar:first-child{
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skills-bar .bar .progress-line{
    position: relative;
    height: 5px;
    width: 100%;
    background: #f0f0f0;
    
}

.bar .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    background: #7d7789;
    border-radius: 10px;
}
.bar .progress-line.html span{
    width: 95%;
}
.bar .progress-line.javaScript span{
    width: 80%;
}
.bar .progress-line.wordpress span{
    width: 90%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #7d7789;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
}
.bar .progress-line.html span::after{
    content: "95%";
}
.bar .progress-line.javaScript span::after{
    content: "80%";
}
.bar .progress-line.wordpress span::after{
    content: "90%";
}


/* Circular Progress Bar */

.progress-right{
    width: 50%;
    height: 200px;  
}



.progress-left{
    align-items: center;
    justify-content: center;
    height: auto;
}
.skill{
    width: 160px;
    height: 160px;
    position: relative;
    align-self: self-end;
    margin-left: 10px;
    float: left;
}

.outer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.34);
    padding: 5px;
}
.outer h3 {
    text-align: center;
    padding-top: 20%;
    color: #7d7789;
  }
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 8px 8px rgba(0,0,0,0.34);
}

#number{
    font-weight: 600px;
    color: #555;
    font-size: 18px;
}
.education-section{
    width: 100%;
    height: 200px;
    background: chartreuse;
}


/* Education Section */

.education-all{
    width: 100%;
    float: left;
}
.education-all-top{
    display: flex;
    margin-top: 5%;
    margin-bottom: 4%;
}
.education-all-top-left{
    width: 50%;
    height: 40px;
}
.education-all-top-right{
    width: 50%;
    height: 40px;
}

.education-all-bottom-child{
    display: grid;
    grid-gap: 1cm;
    grid-template-columns: 1fr 3fr 1fr 3fr;
}

.border-style{
    border-left: 2px solid black;
    padding-left: 10px;
    position: relative;
}
